@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-dark: #000002;
    --text-light: #D0ECFD;
    --text-green: #30FF83;
    --text-red: #FD3537;
    --accent-blue: #3156C9;
    --accent-yellow: #FEE91F;
  }
  html, body {
    background: var(--background-dark);
    color: var(--text-light);
  }

  .word {
    display: block;
    border-radius: 8px;
    font-size: 1em;
  }


  .drop {
    position: absolute;
    z-index: 1;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear forwards;
    
    -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
        -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
  }
    
    @keyframes fall {
      to{
        transform: translateY(101vh);
      }
    }

  .gauge-container {
    position: relative;
  }

  #gaugeValue {
    margin-top: 20px;
    width: 100px;
  }

  .xwing {
    color: var(--text-light);
  }

  .tie-fighter {
    color: var(--accent-blue);
  }

  .action-button {
    border: 2px solid var(--accent-yellow);
    border-radius: 6px;
    padding: 8px 12px;
  }

  .dark-bg {
    background-color: var(--background-dark);
  }

  .green-text {
    color: var(--text-green);
    font-size: 32px;
  }

  .red-text {
    color: var(--text-red);
    font-size: 32px;
  }
}
