@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin:0;
    padding:0;
  }

  #container {
    display: flex;
  }

  .pane {
    height: 100vh;
    width: 50%;
    padding: 24px;
    overflow: hidden;
  }

  #vectorize {
    border-right: 3px solid black;
  }

  .word {
    display: block;
    background-color: #fff;
    border-radius: 8px;
    padding: 8px;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
  }

  .openai { color: #333; border: 2px solid #333 }

  .vectorize { color: purple; border: 2px solid purple }

  .drop {
    position: absolute;
    z-index: -1;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear forwards;
    
    -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
        -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
  }
    
    @keyframes fall {
      to{
        transform: translateY(101vh);
      }
    }

  .gauge-container {
    position: relative;
  }

  #gaugeValue {
    margin-top: 20px;
    width: 100px;
  }
}
